.inputdiv-placing {
	margin-bottom: 10px;
	margin-top: 10px;
}

body, html{
    /* height: 100%;*/
 	background-repeat: no-repeat;
 	background-color: #d3d3d3;
 	font-family: 'FontAwesome', sans-serif;
}

.login-button {
	background-color: #e6af4b;
	border-color: #e6af4b;
}

.login-button:hover {
	background-color: #e05038;
	border-color: #e05038;
}